@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&family=Poppins&display=swap');
/* font-family: 'Poppins'; */

*{
margin: 0;
padding: 0;
}

:root {
    --azul-escuro : #00072D;
    --azul-claro: #A8D0D8;
    --laranja: #F29559;
    --azul-esverdeado:#0F5257;
}

main {
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-size: 54px;
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div-investidor {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }

.titulo-descricao {
    width: 50%;
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-descricao h1 {
    font-size: 32px;
    margin-bottom: 10px; /* Adicione margem inferior para separar o título do parágrafo */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .titulo-descricao p {
    width: 90%;
    font-size: 24px;
    text-align: justify;
    gap: 2%;
    line-height: 1.5; /* Ajuste a altura da linha para melhor leitura */
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

.investidor-imagem {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

.imagem {
    height: 100%;
}

.warren {
    background-color: var(--azul-escuro);
}

.george {
    background-color: var(--azul-esverdeado);
}

.benjamin {
    background-color: #61aab9;
}

.luiz {
    background-color: var(--laranja);
}

.Barsi {
    display: flex;
    justify-content: start;
}
