<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador</title>

    <link rel="stylesheet" href="./css/stylePerfil/stylePerfil.css">
    <link rel="stylesheet" href="./css/stylePerfil/styleSimulador.css">

</head>
<body>
    <header class="rodape">
        <img class="foto" src="./imagens/fotoMF.jpg" alt="Foto do Perfil">
        <h1 class="title">Nome da pessoa</h1>
        <a class="botao-ancora" href="">Início</a>
        <a class="botao-ancora" href="">Simulador Financeiro</a>
        <a class="botao-ancora" href="">Cursos</a>
        <a class="botao-ancora" href="">Metas Financeiras</a>
        <a class="botao-ancora" href="">Conversor de Moedas</a>
        <a class="botao-ancora" href="">Sair</a>
    </header>
    <main class="container">
        <h1>Simulador Financeiro (Renda Fixa)</h1>
  
        <div class="conteudo-simulador">
          <div class="texto-valores">
            <h2>Valor inicial do investimento</h2>
            <div class="valores">
              <h2>R$</h2>
              <input
                class="input-valores1"
                type="text"
                id="input_valor_inicial"
              />
            </div>
          </div>
          <div class="texto-valores">
            <h2>Quanto você pretende investir por mês</h2>
            <div class="valores">
              <h2>R$</h2>
              <input
                class="input-valores1"
                type="text"
                id="input_valor_mensal"
              />
            </div>
          </div>
        </div>
  
        <div class="conteudo-simulador">
          <div class="texto-valores">
            <h2>Taxa de Juros</h2>
            <div class="valores">
              <input class="input-valores" type="text" id="input_taxa_juros" />
              <h2>%</h2>
              <select class="select-juros" id="select_juros">
                <option value="0">Ao mês</option>
                <option value="1">Ao ano</option>
              </select>
            </div>
          </div>
          <div class="texto-valores">
            <h2>Periodo</h2>
            <div class="valores">
              <input class="input-valores" type="text" id="input_periodo" />
              <select class="select-juros" id="select_periodo">
                <option value="0">Meses</option>
                <option value="1">Anos</option>
              </select>
            </div>
          </div>
        </div>
  
        <button onclick="simular()" class="btn-simular">Simular</button>
  
        <div id="div_resultado" style="display: none" class="conteudo-simulador">
          <div class="texto-valores">
            <h2>Em <span id="span_periodo"></span> você teria</h2>
            <div>
              <h2 id="valor_final">R$</h2>
            </div>
          </div>
          <div class="texto-valores">
            <h2>Valor com a dedução de impostos</h2>
            <div>
              <h2 id="valor_cImpostos">R$</h2>
            </div>
  
          </div>
        </div>
      </main>
</body>
</html>
<script src="./js/simulador.js"></script>