@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

.depoimentos {
    width: 100%;
    display: flex;
    background-color: #00072D;
    height: 20%;
    justify-content: space-evenly;

}

.depoimentos-quadrados {
    margin-top: 3%;
    width: 303.8px;
    padding: 20px;
    height: 401.3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.depoimentos-circulo {
    width: 150p;
    height: 150p;
    border-radius: 50%; /* Transforma o elemento em um círculo */
    overflow: hidden; 
    background-size: cover; 
    background-position: center; 
  }

  .depoimentos-quadrados h1{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-bottom: 5%;
  }

  .depoimentos-quadrados p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: initial;
   }

.rodape {
    background-color: #00072D;
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
}

.contato {
    width: 100%;
    height: 80%;
    background-color: #00072D;
    display: flex;
    align-items: start;
}

.contato-redes {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;


}

.redes-sociais {
    width: 45%;
    margin-top: 1%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;

}

.redes-sociais h1 {
    font-size: 24px;
    margin-left: 5%;
}

.redes-sociais img {
    height: 26px;
}

.contato-email {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 2%;
}

.contato-ib {
    display: flex;
}

.input-email {
    margin-top: 5%;
    width: 285.8px;
    height: 53px;

}

.input-email::placeholder {
    text-align: center;
}

.botao-email {
    margin-top: 5%;
    width: 150px;
    height: 53px;
    font-size: 20px;
    background-color: #A8D0D8;
    margin-left: 1%;
}

.endereço {
    width: 100%;
    height: 20%;
    background-color: #00072D;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}