@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&display=swap');
/* font-family: 'Bungee', sans-serif; */

.joguinho {
    background-image: url(../../imagens/Fundos/fundoJoguinho.png);
    width: 100%;
    height: 35%;
    background-size: cover;
    background-position: bottom;
    margin-top: 2%;
    position: relative;
}

.joguinho-veigar {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    height: 50%;
    /* display: none; */
}

#veigar {
    display: none;
  }

.div-quiz {
    height: 700px;
    width: 600px;
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 60%;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #0F5257 5px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.perguntas-title {
    height: 20%;
}

.perguntas-quiz {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.perguntas-quiz p{
    font-size: 36px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.perguntas-quiz button{
    width: 80%;
    height: 15%;
    border-radius: 3rem;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #00072D ;
    color: white;
}

.botoes {
    width: 100%;
    height: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.joguinho-play{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bungee', sans-serif; 
    text-align: center;
    width: 300px;
    height: 100px;
    font-size: 32px;
    border-radius: 75px;
    color: #0F5257;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #C1FF72;
    display: block;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #93d43dee;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #93d43dee;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #93d43dee;
}

.joguinho-play:active {
    transform: translate(-50%, -50%) scale(0.95);
    box-shadow: inset 0 1px 0 #FFE5C4, 0 5px 0 #93d43dee;
}

.joguinho-play:hover {
    text-shadow: cyan -3px 0, #f0f 3px 0;
}

.perguntas-title {
    font-size: 24px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.convite-cadastro {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height: 100%;
width: 100%;
}

.convite-cadastro h1 {
    font-size: 40px;
}

.convite-cadastro p{
    font-size: 28px;
    text-align: justify;
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-img-btn {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-btn {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn-cadastro {
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background-color: #00072D;
    color: white;
    border-radius: 3rem;
    border: 2px solid ;
    width: 250px;
    text-align: center;
}


.btn-tentar {
    font-size: 18px;
    width: 200px;
    height: 35px;
    background-color: #A8D0D8;
    border-radius: 3rem;

}

#conviteCadastro {
    display: none;
}