<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <link rel="stylesheet" href="./css/styleLogin/stylePrincipal.css">
    

    
    <title>Login</title>
</head>
<body>
    <main>
        <div class="login-container" id="login-container">
            <div class="form-container">
                <form class="form form-login">
                    <img class="logo" src="./imagens/Logos/Login sem fundo.png" alt="Logo">
                    <h1 class="title-primary">Login</h1>
                    
                    
                        <input type="email" class="form-input" placeholder="Email">
                        <input type="password" class="form-input" placeholder="Senha">
                   
                    <a href="#" class="form-link">Esqueceu a senha?</a>
                    <button type="button" class="btn-primary">Logar</button>
                    
                </form>
                <form class="form form-register">
                    <img class="logo" src="./imagens/Logos/Login sem fundo.png" alt="Logo">
                    <h1 class="title-primary">Criar Conta</h1>
                    
                    
                        <input type="text" class="form-input" placeholder="Nome" id="input_nome">
                        <input type="email" class="form-input" placeholder="Email" id="input_email">
                        <input type="password" class="form-input" placeholder="Senha" id="input_senha">
                        <input type="date" class="form-input" placeholder="Data de Nascimento" id="input_dtNasc">

                        <Span>Qual seu nivel de conhecimento em Economia?</Span>
                        <select class="select" id="select_conhecimento">
                            <option value="NULL">Selecione uma das opções</option>
                            <option value="0">Não sei nada, mas gostaria de aprender</option>
                            <option value="1">Tenho pouco conhecimento</option>
                            <option value="2">Tenho muito conhecimento</option>
                        </select>
                
                    <button type="button" class="btn-primary" onclick="cadastrar()">Cadastrar</button>
                   
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <h1 class="title-second">Bem-Vindo de Volta</h1>
                    <p class="description">Para continuar conectado entre com suas informações pessoais</p>
                    <button class="btn-second" id="abrir-cadastrar">Entrar</button>
                </div>
                <div class="overlay">
                    <h1 class="title-second">Novo aqui?</h1>
                    <p class="description">Inscreva-se agora e abra as
                        portas para um mundo de possibilidades sem limites.</p>
                    <button class="btn-second" id="abrir-login">Cadastre-se</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
<script src="./js/scriptLogin.js"></script>
<script>
    function cadastrar() {
        var nomeVar = input_nome.value;
        var emailVar = input_email.value;
        var senhaVar = input_senha.value;
        var dtNascVar = input_dtNasc;
        var nivelConhecimentoVar = select_conhecimento.value

        if(nomeVar == "" || emailVar == "" || senhaVar == "" || dtNascVar == "" || nivelConhecimentoVar == "NULL") {
            alert("Todos os campos devem ser preenchidos")
        }

        fetch("/usuarios/cadastrar", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        // crie um atributo que recebe o valor recuperado aqui
        // Agora vá para o arquivo routes/usuario.js
        nomeServer: nomeVar,
        emailServer: emailVar,
        senhaServer: senhaVar,
        dtNascServer: dtNascVar,
        nivelConhecimentoServer: nivelConhecimentoVar
      }),
    })
      .then(function (resposta) {
        console.log("resposta: ", resposta);

        if (resposta.ok) {
          cardErro.style.display = "block";
          alert("Usuario Cadastrado")
          mensagem_erro.innerHTML =
            "Cadastro realizado com sucesso! Redirecionando para tela de Login...";

          setTimeout(() => {
            window.location = "login.html";
          }, "2000");

          // limparFormulario();
          // finalizarAguardar();
        } else {
          throw "Houve um erro ao tentar realizar o cadastro!";
        }
      })
      .catch(function (resposta) {
        console.log(`#ERRO: ${resposta}`);
        // finalizarAguardar();
      });

    return false;
  }

     
</script>