<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>17 ODS Onu</title>

    <link rel="stylesheet" href="./css/styleIndex/styleIndex.css" />
    <link rel="stylesheet" href="./css/styleIndex/styleIndexMainDepoimentosEFooter.css"/>
    <link rel="stylesheet" href="./css/styleOds/styleOds.css">


</head>
<body>
    <header>
        <nav class="cabeçalho">
          <img src="./imagens/Logos/Login sem fundo.png" alt="Logo" />
  
          <div class="botoes-cabeçalho">
            <a href="/" class="botao-cabeçalho">Inicio</a>
            <a href="/login?login=false" class="botao-cabeçalho">Login</a>
            <a href="/login?login=true" class="botao-cabeçalho">Cadastre-se</a>
          </div>
        </nav>
      </header>

      <main>
        <div class="conteiner">

        <div class="description-onu">  
            
        <h1 class="title">Os objetivos de desenvolvimento social no Brasil</h1>

        <img style="height: 450px;" src="./imagens/Fundos/odssss-1-scaled.jpg" alt="">

        <p class="description"> Os Objetivos de Desenvolvimento Sustentável são um apelo global à ação para acabar com a pobreza, proteger o meio ambiente e o clima e garantir que as pessoas, em todos os lugares, possam desfrutar de paz e de prosperidade. Estes são os objetivos para os quais as Nações Unidas estão contribuindo a fim de que possamos atingir a Agenda 2030 no Brasil.
        </p>

        <ul>
            <h2>Sobre os objetivos:</h2>
            <li>Erradicação da Pobreza (ODS 1): O Brasil tem implementado programas sociais significativos, como o Bolsa Família, visando reduzir a pobreza e a desigualdade.</li>
            <li>Fome Zero (ODS 2): O país trabalha para garantir a segurança alimentar por meio de programas de distribuição de alimentos e iniciativas para promover a agricultura sustentável.</li>
            <li>Saúde de Qualidade (ODS 3): O Brasil busca melhorar o acesso aos serviços de saúde, promover a prevenção de doenças e fortalecer o sistema de saúde pública.</li>
            <li>Educação de Qualidade (ODS 4): O investimento em educação é uma prioridade, com esforços para aumentar a qualidade do ensino, a acessibilidade e a inclusão.</li>
            <li>Igualdade de Gênero (ODS 5): O Brasil trabalha para promover a igualdade de gênero, abordando questões como disparidades salariais e violência contra as mulheres.</li>
            <li>Água Potável e Saneamento (ODS 6): Iniciativas visam garantir o acesso à água potável e melhorar a infraestrutura de saneamento.</li>
            <li>Energia Limpa e Acessível (ODS 7): O Brasil investe em fontes de energia renovável, como hidrelétricas e energia eólica, para promover a sustentabilidade energética.</li>
            <li>Trabalho Decente e Crescimento Econômico (ODS 8): Iniciativas buscam promover o emprego digno, o crescimento econômico sustentável e a inclusão social.</li>
            <li>Indústria, Inovação e Infraestrutura (ODS 9): O Brasil trabalha para desenvolver infraestrutura sustentável e promover a inovação em setores-chave.</li>
            <li>Redução das Desigualdades (ODS 10): Estratégias visam reduzir as disparidades sociais e econômicas entre diferentes grupos da sociedade.</li>
            <li>Cidades e Comunidades Sustentáveis (ODS 11): O planejamento urbano visa criar cidades mais sustentáveis, com acesso a serviços básicos e infraestrutura adequada.</li>
            <li>Consumo e Produção Responsáveis (ODS 12): Iniciativas promovem padrões sustentáveis de consumo e produção, incentivando práticas empresariais responsáveis.</li>
            <li>Ação Contra a Mudança Global do Clima (ODS 13): O Brasil trabalha para reduzir as emissões de gases de efeito estufa e promover práticas sustentáveis para combater as mudanças climáticas.</li>
            <li>Vida na Água (ODS 14) e 15. Vida Terrestre (ODS 15): O Brasil busca preservar ecossistemas marinhos e terrestres, combatendo a perda de biodiversidade.</li>
            <li>Paz, Justiça e Instituições Eficazes (ODS 16): Iniciativas visam fortalecer as instituições para promover a paz, a justiça e o acesso à justiça.</li>
            <li>Parcerias e Meios de Implementação (ODS 17): A cooperação internacional e parcerias público-privadas são incentivadas para alcançar os ODS.</li>
          </ul>

        </div>  

        <div class="description-projeto">
          <h1 class="title">E qual desses objetivos o pojeto visa alcançar?</h1>
          <img src="./imagens/Logos/logoODS4.png" alt="ODS 4 - Educação de Qualidade">
          <p class="description">Em sintonia com o compromisso da ONU de buscar por uma educação de qualidade, surge a importância de abordar não apenas as disciplinas convencionais, mas também as habilidades práticas essenciais para a vida, como a educação financeira. Nesse sentido, um site dedicado a educar as pessoas financeiramente pode desempenhar um papel fundamental na realização da ODS 4 da ONU, que visa garantir uma Educação de Qualidade para todos.</p>
        <p style="margin-bottom: 5%;" class="description">A acessibilidade é outro ponto-chave alinhado com a ODS 4. Um site de educação financeira pode ser uma ferramenta acessível a uma ampla gama de públicos, independentemente de sua localização geográfica ou situação econômica. Ao oferecer recursos online, vídeos educativos e materiais de leitura, o acesso à informação financeira de qualidade é ampliado, promovendo a inclusão e quebrando barreiras para aqueles que buscam aprender, independentemente de suas circunstâncias.</p>
        </div>

        </div>
      </main>

      <footer class="rodape">
        <div class="contato">
          <div class="contato-redes">
            <h1>Contatos</h1>
  
            <a
              class="redes-sociais"
              href="https://www.instagram.com/galhardo_jao/"
            >
              <img src="./imagens/Logos/logoInstagram.png" alt="logo instagram" />
              <h1>Galhardo_Jao</h1>
            </a>
  
            <a
              class="redes-sociais"
              href="https://www.linkedin.com/in/joao-galhardo-341655222/"
            >
              <img src="./imagens/Logos/logoLinkedin.png" alt="logo linkedin" />
              <h1>Joao Galhardo</h1>
            </a>
  
            <a class="redes-sociais" href="https://github.com/Joao-Galhardo">
              <img src="./imagens/Logos/logoGit.png" alt="logo github" />
              <h1>Joao-Galhardo</h1>
            </a>
  
            <a class="redes-sociais" href="">
              <img src="./imagens/Logos/logoEmail.png" alt="Logo email" />
              <h1>joao.galhardo@sptech.school</h1>
            </a>
          </div>
  
          <div class="contato-email">
            <h1>Fique por dentro</h1>
            <div class="contato-ib">
              <input
                class="input-email"
                type="text"
                placeholder="Endereço de e-mail"
              />
              <button class="botao-email">Inscreva-se</button>
            </div>
          </div>
        </div>
        <div class="endereço">
          <h1>
            Rua haddock lobo, 595 - Cerqueira César, São Paulo - SP, 01414-001
          </h1>
        </div>
      </footer>

</body>
</html>