body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
}

.container {
    width: 100vw;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
}

.conteudoMateria {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}



.title-primary {
    font-size: 64px;
    color: #00072D;
}

.title-second {
    font-size: 40px;
    color: #00072D;
}

.title-tertiary {
    font-size: 36px;
    color: #00072D;
}

.descricao {
    font-size: 20px;
    text-align: justify;
}

.lista-topicos {
    height: 60%;
    width: 60%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #00072D;
}

.lista-topicos li{
    font-size: 40px;
    list-style: none;
    border: 1px solid black;
    text-align: center;
    padding-left: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-conteudo {
    height: 50px;
    width: 120px;
    border-radius: 3rem;
    background-color: #0F5257;
    color: white;
}

.resumo {
    font-size: 18px;
}



.ultima {
    margin-bottom: 5%;
    text-align: start;
}

.leitura-recomendada {
    margin-top: 2%;
    align-self: start;
}

.prova {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    justify-content: center;
}

.pergunta{
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: flex-start;
}

.prova-opcao {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 30%;
    justify-content: space-evenly;
    width: 100%;
}

.prova-opcao button {
height: 20%;
background-color: transparent;
text-align: start;
font-size: 24px;
}

.prova-opcao button:hover {
    height: 25%;
}

.descricao-resultado {
    font-size: 30px;
    text-align: center;
}

.resultado {
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.resultado p{
    font-size: 32px;
}

.certificado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.ancora-certificado {
    text-decoration: none;
    background-color: white;
    color: #00072D;
    padding: 20px;
    border: #00072D 2px solid;
    border-radius: 3rem;
    font-size: 20px;
    margin-top: 5%;
}

.ancora-certificado:hover {
    background-color: #00072D;
    color: white;
    padding: 25px;
}